{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section id="home">
	<div class="container-fluid welcome-fluid hm-fluid-pad">
		<div class="container">
			  <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 hm-content">
					<div class="col-xs-12 hm-left-div animate wow fadeInLeft" style="animation-delay:1s;">
						<div class="col-xs-12 paddingZ">
							<img class="img-responsive m-auto" src="{% static 'img/AboutImg.jpg' %}">
						</div>
					</div>
					<div class="col-sm-8 col-xs-12 hm-right-div">
						<ul class="hm-list">
                            {% for skill in skills %}
							    <li class="animate wow flipInX">{{ skill.title }}</li>
                            {% endfor %}
						</ul>
					</div>
					<div class="col-xs-12 hm-contact">
						<div class="col-sm-6 col-xs-12">
							<h5 class="animate wow fadeInUp" style="animation-delay:1.4s;" >Visit my profile on:</h5>
							<p class="links-profile paddingZ animate wow fadeInUp" style="animation-delay:1.6s;">
								<a href="https://github.com/rohit-patel" target="_blank">Github</a>
								<a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=2948023" target="_blank">SSRN</a>
								<a href="https://www.theinternetofthings.eu/rohit-patel" target="_blank"> IoT Council member</a>
							</p>
						</div>
						<div class="col-sm-6 col-xs-12">
							<p class="animate wow fadeInUp" style="animation-delay:1.2s;">For questions regarding <strong>AI</strong> in business Email me at <a href="mailto:"><strong>contact@rohit-patel.com</strong></a></p>
						</div>
					</div>
				</div>
			</div>
			</div>
     </div>
</section>


{% endblock %}