{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pg-banner">
        <div class="container">
            <div class="col-xs-12 banner-content">
                <h3 class="animate wow fadeInUp">Meet the AI</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid welcome-fluid">
        <div class="container">
            <div class="row theme-cat-row">
                <div class="col-sm-4 col-xs-12 animate wow zoomIn" style="animation-delay:0.2s">
                    <a href="#">
                        <div class="col-xs-12 theme-cat">
                            <h4>Lorem Ipsum.</h4>
                            <div class="theme-view-more">
                                <p>View More</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12 animate wow zoomIn" style="animation-delay:0.5s">
                    <a href="#">
                        <div class="col-xs-12 theme-cat">
                            <h4>Lorem Ipsum.</h4>
                            <div class="theme-view-more">
                                <p>View More</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12 animate wow zoomIn" style="animation-delay:0.8s">
                    <a href="#">
                        <div class="col-xs-12 theme-cat">
                            <h4>Lorem Ipsum.</h4>
                            <div class="theme-view-more">
                                <p>View More</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}