{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pg-banner">
		<div class="container">
			<div class="col-xs-12 banner-content">
				<h3 class="animate wow fadeInUp">Research</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid welcome-fluid">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 research-main">
				<!--  <h3 class="heading-section animate wow fadeInUp" >Research</h3> -->
				<div class="col-xs-12 research-div animate wow">
					<a href="#">Costly Inspection and Money Burning in Internal Capital Markets</a>, <em>with Can Urgun</em>
					<p>This paper deals with the incentives and strategic choices of agents in an internal capital market,
						when the CEO has a cost to monitor the potential benefits of their respective investments,
						and describes the nature of an optimal mechanism design.</p>
				</div>
				<div class="col-xs-12 research-div animate wow">
					<a href="#">Costly Inspection and Money Burning in Internal Capital Markets</a>, <em>with Can Urgun</em>
					<p>This paper deals with the incentives and strategic choices of agents in an internal capital market,
						when the CEO has a cost to monitor the potential benefits of their respective investments,
						and describes the nature of an optimal mechanism design.</p>
				</div>
				<div class="col-xs-12 research-div animate wow">
					<a href="#">Costly Inspection and Money Burning in Internal Capital Markets</a>, <em>with Can Urgun</em>
					<p>This paper deals with the incentives and strategic choices of agents in an internal capital market,
						when the CEO has a cost to monitor the potential benefits of their respective investments,
						and describes the nature of an optimal mechanism design.</p>
				</div>
				<div class="col-xs-12 research-div animate wow">
					<a href="#">Costly Inspection and Money Burning in Internal Capital Markets</a>, <em>with Can Urgun</em>
					<p>This paper deals with the incentives and strategic choices of agents in an internal capital market,
						when the CEO has a cost to monitor the potential benefits of their respective investments,
						and describes the nature of an optimal mechanism design.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}