{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pg-banner">
		<div class="container">
			<div class="col-xs-12 banner-content">
				<h3 class="animate wow fadeInUp">Research</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid welcome-fluid">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 research-main">
				<!--  <h3 class="heading-section animate wow fadeInUp" >Research</h3> -->
                {% for research in researches %}
                    <div class="col-xs-12 research-div animate wow">
                        <a href="#">{{ research.title }}</a>, <em>with {{ research.author }}</em>
                        <p>{{ research.description }}</p>
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}