{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pg-banner">
        <div class="container">
            <div class="col-xs-12 banner-content">
                <h3 class="animate wow fadeInUp">Résumé</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid welcome-fluid ">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-12 theme-div ">
                    <h4 class="animate wow flipInX">Please submit <strong>Contact Form</strong> OR contact on
                        <br><strong>resume@rohit-patel.com</strong> for a copy.</h4>
                </div>
                <div class="col-sm-6 col-xs-12 contact-form">
                    <h3>Contact Me</h3>
                    <form method="post">
                        {% csrf_token %}
                        <input class="form-control" name="name" type="text" placeholder="Enter Name" required/>
                        <input class="form-control" name="email" type="email" placeholder="Enter Email" required/>
                        <input class="form-control" name="number" type="number" placeholder="Enter Contact Number" required/>
                        <textarea class="form-control" name="message" type="number" placeholder="Leave A Message..."
                                  required></textarea>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}